.container {
    min-height: 85vh;
    min-width: 100%;
    background-color: #dadada;

}

.message {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
}



