.tabela {
    width: 60vw;
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
}

table td {
    width: 10vw;
}

h1 {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.add {
    float: right;
}

.spanlista {
    font-size: 1.5em;

}

h1 {
    margin-bottom: 10px;
}